@import "variables.scss";

%navbar-centered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $blue !important;
}

%h4-header {
  font-size: 18px;
}

%rate-container {
  text-align: center;
}